@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Flavor

<h2>Flavor Details</h2>
<hr />

<h3>@Model.FlavorName, Items! 

@if(@Model.FlavorTreatEntities.Count == 0)
{
  <p>This flavor does not belong to any treats</p>
}
else
{
  <h4> All the Yummies!!:</h4>
  <ul>
  @foreach(var join in Model.FlavorTreatEntities)
  {
    <li>@join.Treat.TreatName</li>
    
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
  
     

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavors", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.FlavorId })</p>