
   
@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Treat;

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>

@if(@Model.FlavorTreatEntities.Count == 0)
{
  <p>This category does not contain any items</p>
}
else
{
  <h4>Items the category contains:</h4>
  <ul>
  @foreach(var join in Model.FlavorTreatEntities)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>