@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Treat;

<h2>Treat Details</h2>
<hr />

<h3> @Model.TreatName </h3>

@if(@Model.FlavorTreatEntities.Count == 0)
{
  <p>No flavors! </p>
}
else
{
  <h4>The Flavors:</h4>
  <ul>
  @foreach(var join in Model.FlavorTreatEntities)
  {
    <li>@join.Flavor.FlavorName</li>
    @using (Html.BeginForm("DeleteFlavor", "Treats"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}



<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>